<h2> <%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed %>
<%= "Task completed!"%>
<% else %>
<%= "Task to complete..." %>
<% end %>
</p>
<p><%= link_to "Edit task", edit_path%></p>
